<h3>Gem Details</h3>
<p>Name: <%= @dependency.name %></p>
<p>Authors: <%= @dependency.author %></p>
<p>Version: <%= @dependency.version %></p>
<%= link_to 'Show Application Dependencies', dependencies_path %> <br>
<%= link_to 'Home', root_path %>
